<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h3><a href="/">Home</a> | <a href="/Projects">Projects</a> | Contact</h3>
        </div>
        <h3>Contact Me!</h3>
        <div class="innercontainer">
            <form action="SubmitThing" method="post">
                <div class="formcontents">
                    <div class="contactinfo">
                        <label for="Name">Name</label>
                        <input type="text" name="Name" id="name">
                        <label for="Email">Email</label>
                        <input type="email" name="Email" id="email">
                    </div>
                    <label for="Message">Message</label>
                    <input type="text" name="Message" id="message">
                </div>
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
</body>
</html>