<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h3>Home | <a href="/Projects">Projects</a> | <a href="/Contact">Contact</a></h3>
        </div>
        <h2>About Me</h2>
        <div class="innercontainer">
            <div>
                <img src="~/img/Ryan And Kitty.jpg" alt="Picture of me and my cat!" height="300px">
                <p>Ryan Alumbaugh</p>
                <p>I like stuff!</p>
            </div>
            <div>
                <p>This is a bunch of information about me. I should fill it out with more detailed information. But for now, it's just me typing things to fill space for the assignment.</p>
            </div>
        </div>
    </div>
</body>
</html>