<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h3><a href = "/">Home</a> | Projects | <a href="/Contact">Contact</a></h3>
        </div>
        <h2>Here are some projects of mine!</h2>
        <div class="projectbox">
            <div class="projectholder">
                <img src="~/img/Truck.png" alt="Delivery Truck">
                <div class="projectdescription">
                    <h3>Truck Route App!</h3>
                    <p>Designed app to be used for a trucking business to be able to keep track of all their deliveries</p>
                </div>
            </div>
            <div class="projectholder">
                <img src="~/img/Small Business.jpg" alt="Small Business Sign">
                <div class="projectdescription">
                    <h3>Small Business Visualizer</h3>
                    <p>Made an interactive map that allowed users to view the locations of all the small businesses in Washington State. Also allowed users to sort by different subsets of small business (women owned, veteran owned, minority owned, and all)</p>
                </div>
            </div>
            <div class="projectholder">
                <img src="~/img/Dragon.jpeg" alt="Picture of a dragon">
                <div class="projectdescription">
                    <h3>Hackathon Console RPG</h3>
                    <p>Created a console based RPG during a 5-6 hour hackathon. Included the ability to customize character class and had a working combat loop that allowed you to fight enemies.</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>